[user]
    email = charles0126@gmail.com
    name =  charz

[core]
    editor = vim

[alias]
    gsummary = !~/bin/git-summary.py
    glog = log --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph

[github]
    user = charz

